
.circle-container {
  position: relative;
 
}

.circle1 {
  position: absolute;
  width: 200px; /* Set the diameter of the circles */
  height: 200px; /* Set the diameter of the circles */
  border-radius: 50%; /* Make it a circle */
  border: 3px solid white;
}
.circle2 {
  position: absolute;
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 12px solid white;
}

.circle2:nth-child(1) {
  top: 0%;
  left: 0px;
}

.circle1:nth-child(2) {
  top: 0px; 
  left: 2%; 
}
.main-container {
  display: flex;
  align-items: center;
  height: 60vh;
  width: 90vh;
  justify-content: center;
}

.centered-content {
  text-align: center;
}
  .main-text {
    position: absolute;
    top: 10%;
    left: 250px;
    color: white;
    font-size: 85px;
    font-family: 'Julius Sans One', sans-serif;

    letter-spacing:28px

}
  .x-text {
    position: absolute;
    top: 0%;
    left: 135px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Gabarito', cursive;


}
  .tech-text {
    position: absolute;
    top: 17%;
    left: 245px;
    color: white;
    font-size: 32px;
    font-family: 'Kanit', sans-serif;
    border-bottom: 7px solid;
    width: 625px;
    text-align: initial;
    border-radius: 4px;
    letter-spacing:10px


}
  .large-text {
    position: absolute;
    top: 16%;
    left: 245px;
    color: white;
    font-size: 36px;
   width: max-content;
   font-family: 'Jura', sans-serif;

}


.x-button{
  border-radius: 0.25rem; 
  border: none;
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  width: 200px;
  height: 50px;
  color: #1f582e; 
  background: #fff;
  position: absolute;
  left: 245px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1), 
  0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.x-button:active {
  box-shadow: inset 0 0 0 4px #043b3f6b;
}

.x-button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 1000ms ease-in-out;
  opacity: 0;
  animation: flash 1000ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.x-button:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0%{
      opacity: 1;
      transform: translate(45px);
  }
  100%{
      opacity: 0;
      transform: translate(0);
  }
}